*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #4f6193;
}

*::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}

.allProperties::-webkit-scrollbar-track {
  background: #fff;
}

.allProperties::-webkit-scrollbar-thumb {
  background: #304580;
  border-radius: 10px;
}

option {
  color: initial;
}

::-webkit-file-upload-button {
  background: #4f6193;
  color: #fff;
  border: none;
  border-right: 2px solid #fff;
  margin-right: 0.5rem;
  margin-top: 0.1rem;
  cursor: pointer;
  margin-left: -0.3rem;
}
::-webkit-file-upload-textfield {
  color: red;
}
